name: Pipeline

on:
  push:

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install lando
        run: |
          wget https://files.devwithlando.io/lando-stable.deb
          sudo dpkg -i lando-stable.deb
          lando
          lando start